<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Casino">
  	<test name="Casino Tests" parallel="classes" thread-count="1">

    <classes>
      <class name="com.casino.tests.CasinoTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
